@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Finger Paint', cursive;
}

#main-box{
    width: 300px;
    display:flex;
    flex-wrap: wrap;
    margin: 30px;
}
  .diagonal {
    width: 100px;
    height: 100px;
    font-size:90px;
    text-align: center;
    border: 2px solid black;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Finger Paint', cursive;
  } 

  .diagonal:nth-child(n){
    border-top: none;
    border-left: none;
    
  }
  .diagonal:nth-child(3n){
    border-right: none; 
  }
  .diagonal:nth-child(6)~.diagonal{
    border-bottom: none;
  }
  
  button{
    font-size: 18px;
    font-family: 'Finger Paint', cursive;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius:5px;
  }

#positive-diagonal {
  position: absolute;
  top: 150px;
  left: 683px;
  transform: rotate(44deg);
  height: 330px;
  border: 4px solid black;
}

#negative-diagonal {
  position: absolute;
  top: 150px;
  left: 683px;
  transform: rotate(-44deg);
  height: 330px;
  border: 4px solid black;
}

#first-vertical {
  width: 300px;
  border: 4px solid black;
  position: absolute;
  top: 210px;
  left: 285px;
}

#second-vertical {
  width: 300px;
  border: 4px solid black;
  position: absolute;
  top: 310px;
  left: 285px;
}


#third-vertical {
  width: 300px;
  border: 4px solid black;
  position: absolute;
  top: 410px;
  left: 285px;
}


#first-horizontal {
  height: 300px;
  border: 4px solid black;
  position: absolute;
  top: 162px;
  left: 577px;
}

#second-horizontal {
  height: 300px;
  border: 4px solid black;
  position: absolute;
  top: 162px;
  left: 677px;
}

#third-horizontal {
  height: 300px;
  border: 4px solid black;
  position: absolute;
  top: 162px;
  left: 777px;
}


